.user {
  &__name {
    padding: 0 130px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }

  &__container {
    padding: 0 130px;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  &__footer {
    background-color: #1C3B55;
  }
}

@media screen and (max-width: 786px) {
  .user {
    &__name {
      padding: 0 25px;
    }

    &__container {
      padding: 0 25px;
    }
  }
}
